@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


$fuentePrincipal: 'Oswald', sans-serif;
$naranja: #D74E09;
$blanco: #FCF7FF;
$violeta:#5626C4;
$celeste: #06BEE1;
$verde: #5EFC8D;
$gris: #595959;
$roja: #F8333C;