.header {

    position: relative;
    z-index: 1;

    .labelSwitch{
        display: inline-block;
        width: 65px;
        height: 33px;
        background-color: #D74E09;
        border-radius: 100px;
        cursor: pointer;
        position: relative;
        transition: .2s;
    &::after{
        content: "";
        display: block;
        width: 25px;
        height: 25px;
        background: white;
        border-radius: 100px;
        position: absolute;
        top: 4px;
        left: 4px;
        transition: .2s;
    }
  
    }

    #switch:checked + .labelSwitch::after{
        left: 36px;

    }

    #switch:checked + .labelSwitch{
        background-color: $celeste;
    }

    #switch{
        display: none;
    }

    .barraFinalHeader{

        background-color: #D74E09;
        text-align: center;
        color: $blanco;
       

        .textoBarraFinalHeader{
        margin-bottom: 0;
        padding: 5px;
        font-size: large;
        display: none;
    }

  
    #activo{
        display: block;
    }
    }

    .navbar {
        padding-top: 0rem;
        border-bottom: solid 1px #D74E09; 

        #postNavbar{
            border-bottom: solid 1px #D74E09;
        }

        .navbar-brand {
            


            .logo {
                width: 130px;
                height: auto;
                margin-left: 100px;
            }
        }

        #barraInicial{
            align-items: center;
        }

        .corrido{
            
            text-align: center;
                    .divTemperatura{
                        padding-left: 30%;
                        position: relative;
                        left: 110%;
                    h2{
                        font-size: 1rem;
                    }
                    .temperatura{
                        font-size: 2rem;
                        margin-bottom: 0;
                    }
                    span{
                        color: $naranja;
                    }
                }
                }
        .navbar-nav {
            padding-top: 0.5rem;
            font-size: 18px;
            font-weight: 600;
            

            .cruzCierre {
                width: 15px;
                height: auto;
            }
            
        }

        .saludo{
            font-size: x-large;
            font-family: $fuentePrincipal;
            display: none;
        }

        #linkCargaProducto {
            display: none;
        }

        #cargarProducto {
            color: $naranja;
        }

        #ventanaCargaProducto {
            display: none;
            background-color: white;
            position: absolute;
            z-index: 2;
            width: 50vw;
            right: 24vw;
            box-shadow: 2px 7px 27px -5px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 2px 7px 27px -5px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 2px 7px 27px -5px rgba(0, 0, 0, 0.75);
            text-align: center;
            padding: 3rem;

            .cargadorDeProductosTitulos{
                padding-left: 30%;
            }

            #botonCargaProducto {
                border-radius: 30px;
                background-color: #D74E09;
                border-color: #D74E09;
                box-shadow: 0px 0px 0px 3px rgba(255,130,67,1);
                -webkit-box-shadow: 0px 0px 0px 3px rgba(255,130,67,1);
                -moz-box-shadow: 0px 0px 0px 3px rgba(255,130,67,1);

                
                &:active{
                    box-shadow: none;
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                }
            }

            .divInput {
                padding: 0rem 5rem;
            }

        }

        .links_nav {
            margin: 0 1rem;
            text-decoration: none;
            background-image: linear-gradient(rgba(215,78,9,1) , rgba(215,78,9,1) );
            background-position: 50% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size .3s;
            
            &:hover{
                background-size: 100% 2px;
            }
        }

    

        .navbar-collapse {
            flex-grow: 0;

            #cuenta {
                width: 100%;
                position: relative;
                z-index: 1;

            
                    
                
                

                .posBotonCuenta {
                    display: none;
                    padding: 1rem 1rem;
                    position: absolute;
                    z-index: 2;
                    width: 20vw;
                    right: -5vw;
                    height: 100vh;
                    background-color: white;
                    box-shadow: 2px 7px 27px -5px rgba(0, 0, 0, 0.75);
                    -webkit-box-shadow: 2px 7px 27px -5px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 2px 7px 27px -5px rgba(0, 0, 0, 0.75);

                    .boton2,
                    .boton3, .boton4, .boton5 {
                        border-radius: 30px;
                        background-color: #D74E09;
                        border-color: #D74E09;
                        box-shadow: 0px 0px 0px 3px rgba(255,130,67,1);
                        -webkit-box-shadow: 0px 0px 0px 3px rgba(255,130,67,1);
                        -moz-box-shadow: 0px 0px 0px 3px rgba(255,130,67,1);
                        margin: 5px;

                        
                        &:active{
                            box-shadow: none;
                            -webkit-box-shadow: none;
                            -moz-box-shadow: none;
                        }
                    }

                    #formularioDeRegistro{
                        display: none;
                    }

                }
            }

            

            #carrito {
                width: 100%;
                position: relative;
                z-index: 1;
                #iconoCarrito{
                    position: relative;
                    display: inline-block;
                    text-align: center;
                .contador{
                    background-color: $roja;
                    color: $blanco;
                    position: absolute;
                    right: 13px;
                    width: 17px;
                    top: 24px;
                    font-size: 0.8rem;
                }
                
            }
                #posBotonCarrito {
                    padding: 1rem 1rem;
                    display: none;
                    position: absolute;
                    z-index: 2;
                    background-color: white;
                    width: 30vw;
                    height: 100vh;
                    right: -0.89vw;
                    box-shadow: 2px 7px 27px -5px rgba(0, 0, 0, 0.75);
                    -webkit-box-shadow: 2px 7px 27px -5px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 2px 7px 27px -5px rgba(0, 0, 0, 0.75);

                    .imagenEnCarrito {
                        width: 6rem;
                        height: 9rem;
                        margin: 0 1rem;
                    }

                    .muestrarioCarrito {
                        margin-bottom: 1rem;
                        border-bottom: 0.5px solid;
                    }

                    #carritoProductosElegidos {
                        height: 50%;
                        margin-bottom: 2rem;

                    }
                    .boton8{
                        border-radius: 30px;
                        background-color: #D74E09;
                        border-color: #D74E09;
                        box-shadow: 0px 0px 0px 3px rgba(255,130,67,1);
                        -webkit-box-shadow: 0px 0px 0px 3px rgba(255,130,67,1);
                        -moz-box-shadow: 0px 0px 0px 3px rgba(255,130,67,1);
                        margin: 5px;

                        
                        &:active{
                            box-shadow: none;
                            -webkit-box-shadow: none;
                            -moz-box-shadow: none;
                        }
                    }
                    .divCompletarCompra{
                        
                    .boton6, .boton7{
                        border-radius: 30px;
                        background-color: #D74E09;
                        border-color: #D74E09;
                        box-shadow: 0px 0px 0px 3px rgba(255,130,67,1);
                        -webkit-box-shadow: 0px 0px 0px 3px rgba(255,130,67,1);
                        -moz-box-shadow: 0px 0px 0px 3px rgba(255,130,67,1);
                        margin: 5px;

                        
                        &:active{
                            box-shadow: none;
                            -webkit-box-shadow: none;
                            -moz-box-shadow: none;
                        }
                      
                    
                    }
  
                    
                    
                }

                #carritoAplicarDescuento{
                    display: none;

                   
                }

                    .productosEnCarrito {
                        padding-right: 1rem;
                        align-items: center;
                        .sumadorCarrito{
                            display: flex;
                            justify-content: space-evenly;
                            align-items: baseline;
                        .botonCarritoIngresado{
                            background-color: #D74E09;
                            box-shadow: 0px 0px 0px 3px rgba(255,130,67,1);
                            -webkit-box-shadow: 0px 0px 0px 3px rgba(255,130,67,1);
                            -moz-box-shadow: 0px 0px 0px 3px rgba(255,130,67,1);
                            color: white;

                            &:active{
                                box-shadow: none;
                                -webkit-box-shadow: none;
                                -moz-box-shadow: none;
                            }
                        }
                    }
                    }

                    .carritoVacio {
                        color: #D74E09;
                        display: block;
                    }
                }
            }
        }
    }
}


@media (max-width:768px) {
    .header {
        .navbar-collapse {
            flex-grow: 1;
        }
    }
}